<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <div class="container">
            <br>
            <div class="card">
                <div class="card-header">
                    <h5>Novo Post</h5>
                </div>
                <div class="card-body">

                    <form method="POST" action="/articles/save">
                        <label for="title">Título</label>
                        <input class='form-control' type="text" name="title" placeholder="Defina o titulo do Post">
                        <br>
                        <label>Categoria</label>
                        <select name="category" class="form-control">
                            <% categories.forEach((category) => { %>
                                <option value="<%= category.id %>"><%= category.title %></option>
                            <% }) %>
                        </select>
                        <br>
                        <label for="body">Conteúdo do Post</label>
                        <textarea id="article" class='form-control' name="body" placeholder="Defina o conteúdo do Post" rows="6"> </textarea>
                        <br>
                        <button class="btn btn-success">Cadastrar</button>
                    </form>
                </div>
            </div>

        </div>

        <%- include('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector: '#article',
        // plugins: [
        //     'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        // ]
    })
</script>